asgiref
asyncio
beautifulsoup4
Django
django-appconf
django-bootstrap4
django-compressor
django-sass-processor
libsass
npm
npx
numpy
optional-django
pygame
rcssmin
rjsmin
six
soupsieve
sqlparse
token-utils
tzdata
websockify
psycopg2